* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2.5fr 1fr;
    gap: 0.75em;
    background-color: #193734e8;
    height: 100vh;
}



.contenedor-01,
.contenedor-02,
.contenedor-03,
.contenedor-04,
.contenedor-05,
.contenedor-06 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid #ccc;
}

.contenedor-01 {
    background-color: #eedbdb;
}

.contenedor-02 {
    background-color: #b4dfb4;
}

.contenedor-03 {
    background-color: #d3d3e4;
}

.contenedor-04 {
    background-color: #d0d0c7;
}

.contenedor-05 {
    background-color: #e8c3e8;
}

.contenedor-06 {
    background-color: #b2dddd;
}

@media (max-width: 768px) {

  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .contenedor-02 {display: none;}

  .contenedor-04 { display: none;}

  .contenedor-05 { display: none;}
}